mixin product-card(type)
  -let index = Math.round(Math.random() * 1000000)
  .product-card(data-custom-interaction)
    .product-card__image
      a(href="./product.html").image.image_contain 
        if type == 1
          img(data-src="./img/product-1.png", alt="image").lazyload
        else if type == 2
          img(data-src="./img/product-2.png", alt="image").lazyload
        else if type == 3
          img(data-src="./img/product-3.png", alt="image").lazyload
      
      .product-labels-list 
        if type == 1
          .product-label.product-label_type-1 Акция
        else if type == 2
          .product-label.product-label_type-2 Новинка
        else if type == 3
          .product-label.product-label_type-4 Хит продаж
          .product-label.product-label_type-3 Скидка
          
    .product-card__content 
      .product-card__top
        .product-card__label-info 
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#clock')
          | Срок хранения: 12 мес
        a(href="./product1.html").product-card__title.link 
          if type == 1
            | Фисташки очищенные сушенные
          else if type == 2
            | Грецкие сушенные орехи 
          else if type == 3
            | Грецкий орех в скорлупе (Товар в корзине)

      .product-card__bottom
        .product-card__packaging
          span.product-card__packaging-title Вес товара, кг

          .packaging-list.product-card__packaging-list
            label.packaging-list__item
              input(type="radio" name=index value='15' checked)
              span(data-custom-interaction) 15
            label.packaging-list__item
              input(type="radio" name=index value='40')
              span(data-custom-interaction) 40

            if type == 3
              label.packaging-list__item
                input(type="radio" name=index value='100' disabled)
                span(data-custom-interaction) 100
            else 
              label.packaging-list__item
                input(type="radio" name=index value='100')
                span(data-custom-interaction) 100

            label.packaging-list__item
              input(type="radio" name=index value='150')
              span(data-custom-interaction) 150

        .product-card__last 
          .product-card__pricing 
            .product-card__old-price
              .product-card__old-price-element
                if type == 3
                  | 240 
                  span ₽
            .product-card__price 
              if type == 1
                | 120 
              else if type == 2
                | 163 
              else if type == 3
                | 200 
              span ₽

          .buy-box.buy-box_small.product-card__buy-box(class=type==3 ? 'is-active' : '')
            .buy-box__button
              button.button.button_style-1.button_small 
                span Купить 
            .buy-box__calculator
              .count-calculator(data-custom-interaction) 
                button.count-calculator__button.count-calculator__button_minus 
                input(type="number" value= type==3 ? '2' : '1').count-calculator__input
                button.count-calculator__button.count-calculator__button_plus 

mixin certificate(image) 
  .certificate-block(data-custom-interaction)
    .image.image_contain
      img(data-src=image, alt="image").lazyload

mixin news-element(image, title, type)
  .news-element(class=type==2?'news-element_wide':'' data-custom-interaction)
    .image.image_cover 
      img(data-src=image, alt="image").lazyload
    .news-element__text
      span.news-element__date 18.06.2021
      h6.news-element__title !{title}
    .news-element__button
      a(href="#").button.button_style-4.button_small 
        span Читать

mixin checkbox(title)
  -let index = Math.round(Math.random() * 1000000)
  .checkbox
    input(type="checkbox" id=index).checkbox__input
    label(for=index).checkbox__label !{title}

mixin pagination()
  .pagination 
    ul.pagination__list 
      li.pagination__item 
        a(href="#").pagination__link
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#left-arrow')
      li.pagination__item 
        a(href="#").pagination__link.is-active 1
      li.pagination__item 
        a(href="#").pagination__link 2
      li.pagination__item 
        a(href="#").pagination__link 3
      li.pagination__item 
        a(href="#").pagination__link 4
      li.pagination__item 
        a(href="#").pagination__link 5
      li.pagination__item 
        a(href="#").pagination__link 6
      li.pagination__item 
        a(href="#").pagination__link ...
      li.pagination__item 
        a(href="#").pagination__link 36
      li.pagination__item 
        a(href="#").pagination__link
          svg.icon
            use(xlink:href='./img/icons/sprite.svg#right-arrow')

mixin recipe-block(type, content)
  a(href="#").recipe-block
    .recipe-block__mask
    .recipe-block__image
      .image.image_cover
        if type==1
          img(data-src="./img/recipe1.jpg", alt="image").lazyload
        else 
          img(data-src="./img/recipe2.jpg", alt="image").lazyload
    .recipe-block__text 
      .recipe-block__title 
        if type==2 
          | Карамелизованная морковь с кешью кремом
        else 
          | Салат с киноа, авокадо и шампиньонами
      if content !== '2'
        .recipe-info 
          .recipe-info__item 
            svg.icon(viewBox="0 0 21 21")
              use(xlink:href='./img/icons/sprite.svg#wall-clock')
            | 1 час
          .recipe-info__item 
            svg.icon(viewBox="0 0 29 20")
              use(xlink:href='./img/icons/sprite.svg#dish')
            | 320 ккал


mixin recipe-day()
  a(href="#").recipe-day
    .recipe-day__text-content 
      h6.recipe-day__title Рецепт дня
      p.recipe-day__text Яблочный кекс с вяленой клюквой и штрейзелем
    .recipe-day__bottom 
      .recipe-info.recipe-day__info 
        .recipe-info__item 
          svg.icon(viewBox="0 0 21 21")
            use(xlink:href='./img/icons/sprite.svg#wall-clock')
          | 1 час
        .recipe-info__item 
          svg.icon(viewBox="0 0 29 20")
            use(xlink:href='./img/icons/sprite.svg#dish')
          | 320 ккал
      
      .recipe-day__images 
        .recipe-day__dish.image.image_cover
          img(data-src="./img/Rectangle 311.jpg", alt="image").lazyload
        .recipe-day__product.image.image_contain
          img(data-src="./img/categories/1.png", alt="image").lazyload